.wrapper {
    width: 100%;
}
.main {
    height: auto;
    padding-bottom: 30px;
}
.main__container {
    width: 85%;
    margin: 0 auto;
}
@media screen and (max-width: 1316px) {
    .main__container {
        width: 95% !important;
    }
    .mainContent__itemText > p {
        width: 80% !important;
        text-align: left !important;
    }
}
@media screen and (max-width: 1135px) {
    .mainContent__itemText > p {
        margin-top: 15px;
    }
}
@media screen and (max-width: 978px) {
    .mainContent__items {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .mainContent__itemWrapper {
        margin-top: 100px;
        padding-bottom: 40px;
        border-bottom: 1px solid #FFFFFF;
        width: 80%;
    }
    .mainContent__textItem {
        width: 100% !important;
        display: flex;
        flex-direction: row-reverse !important;
    }
    .mainContent__itemHeadline {
        flex-direction: row-reverse;
    }
    .mainContent__items :nth-child(1), .mainContent__items :nth-child(3) {
        order: 2 !important;
    }
    .mainContent__items :nth-child(2) {
        order: 1 !important;
    }
    .mainContent__items :nth-child(3) {
        margin-top: 40px !important;
    }
    .mainContent__btnLabel {
        margin-top: -100px !important;
    }
}
@media screen and (max-width: 711px) {
    .mainContent__headline {
        font-size: 60px !important;
    }
}
@media screen and (max-width: 617px) {
    .mainContent__headline {
        font-size: 50px !important;
    }
    .mainContent__itemWrapper {
        width: 90% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
@media screen and (max-width: 517px) {
    .mainContent__btnWrapper {
        width: 320px !important;
    }
    .mainContent__headline {
        font-size: 35px !important;
        line-height: 50px !important;
    }
}
@media screen and (max-width: 320px) {
    .mainContent__btnWrapper {
        width: 270px !important;
        margin-top: -95px !important;
    }
}
.main__header {
    display: flex;
    justify-content: center;
}
.mainHeader__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainHeader__experience {
    width: 260px;
    background-color: #EFEFEF;
    color: #000000;
    margin-top: 20px;
    text-align: center;
    border-radius: 26px;
    height: 45px;
    box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 4px 0 5px 0;
}
.mainHeader__experience > p {
    width: 235px;
    margin: 0 auto;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    letter-spacing: 0.14em;
}
.triangleBottom {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 15px solid #EFEFEF;
}
.mainHeadline {
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
}
.mainHeadline > p {
    letter-spacing: 0.14em;
}
.mainHeadline__description {
    width: 56.25%;
    font-size: 18px;
    text-align: center;
    color: #B8B4B4;
    margin: 0 auto;
    margin-top: 10px;
    font-family: 'Jura';
}
.mainContent {
    width: 100%;
}
.mainContent__headline {
    color: #0390FB;
    font-size: 70px;
    text-align: center;
    letter-spacing: 0.09em;
    line-height: 75px;
    margin-top: 25px;
}
.mainContent__headline > p {
    width: 85%;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
}
.mainContent__items {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    width: 85%;
}
.mainContent__items > .mainContent__itemWrapper {
    margin-left: 15px;
}
.mainContent__item {
    margin-top: 25px;
}
.mainContent__itemPhoto {
    margin-top: -80px;
}
.mainContent__itemHeadline {
    display: flex;
    color: #FFFFFF;
    font-family: 'Jura', sans-serif;
    align-items: center;
    font-size: 18px;
}
.mainContent__itemText {
   color: #B9B9B9;
   font-family: 'Jura', sans-serif;
   font-size: 13px;
   display: flex;
   justify-content: right;
   text-align: right;
   margin-top: -10px;
   width: 90%;
}
.mainContent__itemText > p {
    width: 60%;
    text-align: right;
}
.mainContent__btnWrapper {
    width: 370px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: -100px;
}
.mainContent__btnLabel {
    background-color: #E3DEDE;
    position: relative;
    top: 10px;
    width: 180px;
    margin: 0 auto;
    text-align: center;
    padding: 5px 0px;
    border-radius: 6px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.08em;
    z-index: 1;
}
.mainContent__btn > button {
   width: 100%;
   background: linear-gradient(179.35deg, #037CEC 0.56%, rgb(71, 146, 145));
   color: #FFFFFF;
   font-size: 20px;
   border-radius: 20px;
   border: 1px solid transparent;
   height: 70px;
   font-family: 'Source Sans Pro', sans-serif;
   letter-spacing: 0.04em;
   transition: 0.3s;
}
.mainContent__btn > button:hover {
    transform: scale(1.03);
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid #E3DEDE;
}
.about {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.about__contentItem {
    margin-top: 100px;
    width: 70%;
}
.about__contentItem > h1 {
    font-size: 100px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 9px;
}
.about__contentItem > p {
    font-size: 38px;
    font-family: 'Jura', sans-serif;
}
