.modal__background {
    background-color: rgba(0,0,0,0.35);
    overflow: hidden;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    z-index: 2; 
    backdrop-filter: blur(8px); 
    
}
.modal__card {
   color: #000;
   background: #FFFFFF;
   margin: 0 auto;
   border-radius: 20px;
   width: 50%;
}
.modal__header {
    text-align: center;
    font-size: 40px;
    font-family: 'Jura', sans-serif;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}
.modal__close {
    padding: 0px 15px;
}
.modal__close:hover {
    cursor: pointer;
}
.modal__content {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 20px 30px;
}
.modal__form {
    margin-top: 30px;
    text-align: center;
}
.modal__input {
    font-size: 30px;
    margin-bottom: 40px;
    border: none;
    text-decoration: solid 1px black;
    font-family: 'Jura', sans-serif;
    border-bottom: 2px solid rgba(170, 170, 170, 0.7) !important;
    outline: none;
}
.modal__btn {
    background: #0390FB;
    font-size: 30px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    color:#FFFFFF;
    padding: 15px 40px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
@media screen and (max-width: 1420px) {
    .modal__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .modal__img {
        display: none;
    }
}
@media screen and (max-width: 1279px) {
    .modal__header {
        font-size: 30px;
    }
}
@media screen and (max-width: 950px) {
    .modal__card {
        width: 70%;
    }
    .modal__contentThanks > p {
        margin: 10px 3% !important;
        text-align: left !important;
    }
    .modal__contentThanks > p:nth-child(3), p:nth-child(4) {
        margin: 15px 8% !important;
        text-align: left !important;
    }
}
@media screen and (max-width: 762px) {
    .modal__header {
        font-size: 22px;
    }
    .modal__input {
        width: 90%;
    }
}
@media screen and (max-width: 541px) {
    .modal__card {
        width: 80%;
    }
    .modal__thanksHeadline {
        font-size: 32px !important;
    }
}
@media screen and (max-width: 470px) {
    .modal__input {
        font-size: 20px;
    }
}
@media screen and (max-width: 400px) {
    .modal__btn {
        padding: 15px 30px;
    }
    .modal__thanksHeadline {
        font-size: 22px !important;
    }
    .modal__contentThanksNumber {
        text-align: left !important;
    }
}
@media screen and (max-width: 281px) {
    .modal__thanksHeadline {
        font-size: 16px !important;
    }
    .modal__contentThanks > p {
        margin: 10px 3% !important;
        text-align: left !important;
        font-size: 10px !important;
        width: 100%;
    }
    .modal__contentThanks > p:nth-child(3), p:nth-child(4) {
        margin: 10px 8% !important;
        text-align: left !important;
    }
}
@media screen and (max-height: 566px) {
    .modal__thanksHeadline {
        font-size: 22px !important;
    }
    .modal__contentThanks > p {
        margin: 7px 3% !important;
        text-align: left !important;
        font-size: 16px !important;
        width: 100%;
    }
    .modal__contentThanks > p:nth-child(3), p:nth-child(4) {
        margin: 10px 8% !important;
        text-align: left !important;
    }
}
.modal__thanksHeadline {
    color: #0390FB;
    font-size: 40px;
}
.modal__contentThanks {
    font-family: 'Jura', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 5px auto;
}
.modal__contentThanks > p {
    margin: 30px 3%;
    text-align: center;
}
.modal__contentThanks > p:nth-child(3), p:nth-child(4) {
    margin: 40px 8%;
    text-align: center;
}
.modal__contentThanksHighlighted {
    margin-left: 5px;
}
.modal__contentThanksHighlighted, .modal__contentThanksNumber {
    color: #0390FB;
}
.modal__contentThanksNumber {
    margin: 10px 0 0 0 !important;
    text-align: center;
    font-size: 24px;
    width: 100%;
    text-decoration: underline;
}
